body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;

    border: 1px solid gray;
    padding: 10px;
    border-radius: 40px;
}

.navbar-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img{
    border-radius: 50%;
}